<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/login">Login</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <h1>Create your <br> Account</h1>

  </div>
    <ion-input label="Your Name" label-placement="floating" fill="outline" shape="round" placeholder=""></ion-input><br>
    <ion-input label="Email" label-placement="floating" fill="outline" shape="round" placeholder=""></ion-input><br>
    <ion-input label="Password" label-placement="floating" fill="outline" shape="round" placeholder=""></ion-input><br>
    
    <ion-button expand="block" shape="round">Join Us</ion-button>

    <p>By pressing 'Join Us' you agree to <br> our terms & conditions</p>

</ion-content>

